target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### App properties SPRING ###
jobs4u.app.backoffice.console/src/resources/application.properties

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Automatic file generated while running draw.io ###
/docs/geral/domain_model/files/.$domain_model.drawio.bkp
/docs/userstories/sprintB/us_2001/block_diagram/.$block_diagram.drawio.bkp
